<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask class</title>
</head>
<body>
    <h1>Alô Mundo! ( Hello World! )</h1>
    <h1>Meu primeiro título</h1>
    <p>Meu primeiro <b>parágrafo negrito</b> </p>
    <p>Meu segundo <i>parágrafo italico</i></p>
    <p>Meu terceiro <b><i>parágrafo negrito e italico</i></b> </p>
    <p>Meu quarto parágrafo <sub>4º</sub> </p>

    <!--hr cria uma quebra de linha entre os temas  -->
    <hr>

    <p>Meu quinto parágrafo  <sup>5º</sup> </p>

    <p>
        <b> Texto em negrito</b> <br>
        <i>Texto em italico</i><br>
        <u>Texto sublinhado</u><br>
        <sub>Texto subescrito</sub><br>
        <big>Texto com fonte maior do que o padrão</big><br>
        <small>Texto com fonte menor do que o padrão</small><br>
        <em>Texto em italico</em><br>
        <strong>Texto em negrito</strong>
    </p>
</body>
</html>